.container {
  display: flex;
  width: 40%;
  border: 1px solid grey;
  flex-flow: column wrap;
}

input {
  flex-direction: column;
  height: 20px;
}

button {
  height: 30px;
  background-color: rgba(233, 39, 84, 0.9);
  border: none;
}

h3 {
  color: rgb(233, 39, 84);
}